<div class="white-background about-content">
  <div class="container">
    <div class="section">
      <h2 class="h4">About this site</h2>
      <p>Local elected officials make big decisions on how to <strong>invest our dollars back into our communities.</strong> The budget, often the most important vote any elected official makes, whether they sit on our local school board, city council or US Congress, is a reflection of our priorities and values.</p>
      <p>The current national moment, complete with calls from across the US to reimagine policing and fight for racial justice, demands that we speak up and <strong>influence that process.</strong></p>
      <p>...but it is incredibly difficult for normal people to do that, when the relevant budget decisions are made at under-attended, hard to locate, awkwardly timed meetings, full of obscure language and barriers to public comment.</p>
      <p><strong>We crafted this website to make the process easier.</strong></p>
      <p>Our hope is that you - whether you are an organizer, activist, or just an engaged resident - can use this tool to help your community attend and comment at crucial elected body meetings. In our experience, direct participation, rather than letters or petitions, is the best way for us to make an outsized impact on these budget decisions.</p>
    </div>
    <div class="section">
      <h2 class="h4">Our vision</h2>
      <p>We imagine a future in which our communities are safe because of well funded schools, early childhood education, after-school programs, living wage jobs, beautiful parks, well funded cultural institutions, health care for all, and affordable housing.</p>
      <p>Beyond that vision, we do not articulate an agenda, nor have we drafted scripts or &quot;asks&quot; for each meeting we display on this site, since we believe that process should happen organically in each of our communities. We have <strong>highlighted agenda items relevant to law enforcement spending,</strong> which often makes up 40-50% of local budgets, so that we can work together to align these budgets with our principles.</p>
      <p>This is <strong>our</strong> money, and <strong>all</strong> of us should have a say in how it’s spent.</p>
    </div>
    <div class="section">
      <h2 class="h4">Who are we?</h2>
      <p>This site is not the project of one existing organization, political party, or activist group - though some of us are politicians, some of us are from organizations, and some of us are activists. Those roots inspired us to come together and volunteer our time to create this site. You can reach us at the email address below.</p>
    </div>
    <div class="section">
      <h2 class="h4">Contact us</h2>
      <div class="row-link">
        <div class="link-icon email"></div>
        <div>
          <%= mail_to ENV.fetch('CONTACT_EMAIL', 'contact@example.com'),
                      "Email us at #{ENV.fetch('CONTACT_EMAIL', 'contact@example.com')}" %>
        </div>
      </div>
    </div>
    <div class="section">
      <h2 class="h4">Credits</h2>
      <div class="row columned-list">
        <%= render partial: 'contributor_info', locals: { name: 'Jane Kim', twitter_handle: 'janekim' } %>
        <%= render partial: 'contributor_info', locals: { name: 'Chris Arvin', twitter_handle: 'chrisarvinsf' } %>
        <div class="w-100"></div>
        <%= render partial: 'contributor_info', locals: { name: 'Christa Hartsock', twitter_handle: '_hartsick' } %>
        <%= render partial: 'contributor_info', locals: { name: 'Kat Siegal', twitter_handle: 'katsiegal' } %>
        <div class="w-100"></div>
        <%= render partial: 'contributor_info', locals: { name: 'Paras Sanghavi', twitter_handle: 'psanghavi' } %>
        <%= render partial: 'contributor_info', locals: { name: 'Ruscal Cayangyang', twitter_handle: 'ruscal14' } %>
        <div class="w-100"></div>
        <%= render partial: 'contributor_info', locals: { name: 'Shanti Singh', twitter_handle: 'uhshanti' } %>
        <%= render partial: 'contributor_info', locals: { name: 'Janelle Jolley', linkedin_handle: 'janellejolley' } %>
      </div>
    </div>
  </div>
</div>
