<div class="district-jumbotron">
  <div class="container">
    <div class="row">
      <div class="district-jumbotron--info">
        <h1><%= @district.name %></h1>
        <div>Next meeting:</div>
        <div><%= @district.meetings.sort_by{|x| x.event_datetime }.first&.event_datetime&.strftime('%b %e, %Y @ %l:%M%P') %></div>
        <div><%= @district.meetings.sort_by{|x| x.event_datetime }.first&.phone_number %></div>
      </div>
      <div class="district-jumbotron--budget">
        <div class="h3">$<%= @district.readable_budget %>M</div>
        <div>FY2019 Policing Budget</div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="mb-5 mt-5">
    <%= link_to 'Add budget meeting', new_admin_police_district_meeting_path, class: 'btn btn-primary' %>
  </div>

  <div>
    <% @meetings.sort_by{|x| x.event_datetime }.each do |meeting| %>
      <div class="district-card">
        <div class="col-md-6">
          <h2 class="h5"><%= meeting.event_datetime.strftime('%b %e, %Y @ %l:%M%P') %></h2>
        </div>
        <div class="col-md-6">
          <div class="h5">Phone: <%= meeting.phone_number %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
