<%= render partial: 'shared/district_header', locals: { district: @district } %>

<div class="container">
  <div class="mb-5 mt-5">
    <%= link_to 'Add budget meeting', new_admin_police_district_meeting_path, class: 'btn btn-primary' %>
    <%= link_to 'Edit', edit_admin_police_district_path(@district), class: 'btn btn-primary' %>
  </div>
  <div>
    <% @meetings.order('event_datetime').each do |meeting| %>
      <div class="district-card">
        <div class="col-md-6">
          <h2 class="h5"><%= meeting.formatted_event_datetime %></h2>
        </div>
        <div class="col-md-6">
          <div class="h5">Phone: <%= meeting.phone_number %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
