<div class="container">
  <%= simple_form_for [@district, @elected_official], url: @elected_official.persisted? ? admin_police_district_elected_official_path(@district, @elected_official) : admin_police_district_elected_officials_path do |f| %>
    <%= f.input :name, wrapper_html: { class: 'form-group--medium' } %>
    <%= f.input :position, wrapper_html: { class: 'form-group--medium' } %>
    <%= f.input :reelection_date, label: 'Re-election date', wrapper_html: { class: 'form-group--medium' } %>
    <%= f.input :list_rank, wrapper_html: { class: 'form-group--medium' } %>
    <%= f.submit %>
  <% end %>
</div>
