<div class="container">
  <%= form_for [@district, @elected_official], url: @elected_official.persisted? ? admin_police_district_elected_official_path(@district, @elected_official) : admin_police_district_elected_officials_path do |f| %>
    <div><%= @elected_official.errors.full_messages.join("\n") if @elected_official.errors.any? %></div>
    
    <div class="form-group form-group--medium">
      <%= f.label :name, 'Name' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group form-group--medium">
      <%= f.label :position, 'Position' %>
      <%= f.text_field :position, class: 'form-control' %>
    </div>
    <div class="form-group form-group--medium">
      <%= f.label :reelection_date, 'Re-election date' %>
      <%= f.text_field :reelection_date, class: 'form-control' %>
    </div>
    <div class="form-group form-group--medium">
      <%= f.label :list_rank, 'List rank' %>
      <%= f.number_field :list_rank, in: 1..20, step: 1, class: 'form-control' %>
    </div>
    <%= f.submit %>
  <% end %>
</div>
