<div class="container">
  <%= simple_form_for @district, url: @district.persisted? ? admin_police_district_path(@district) : admin_police_districts_url do |f| %>
      <%= f.input :name, wrapper_html: { class: 'form-group--medium' } %>

      <% if @district.slug.present? %>
        <%= f.input :slug, wrapper_html: { class: 'form-group--medium' } %>
      <% end %>

      <%= f.input :address, wrapper_html: { class: 'form-group--medium' } %>
      <%= f.input :timezone, collection: PoliceDistrict::TIME_ZONE_OPTIONS, wrapper_html: { class: 'form-group--medium' } %>
      <%= f.input :total_police_department_budget, label: 'Total Law Enforcement FY 19-20 Budget', wrapper_html: { class: 'form-group--medium' } %>
      <%= f.input :budget_label, label: 'Optional alternate label for law enforcement', wrapper_html: { class: 'form-group--medium' } %>
      <%= f.input :total_district_budget, label: 'Total FY 19-20 City Budget', wrapper_html: { class: 'form-group--medium' } %>
      <%= f.input :total_general_fund_budget, label: 'Total FY 19-20 General Fund Budget', wrapper_html: { class: 'form-group--medium' } %>
      <%= f.input :total_police_paid_from_general_fund_budget, label: 'Total FY 19-20 General Fund Spent on Police', wrapper_html: { class: 'form-group--medium' } %>
      <%= f.input :decision_makers_text %>
      <%= f.input :elected_officials_contact_link, label: 'Decision makers contact link' %>

      <div class="form-group">
        <%= f.label :law_enforcement_gets_more_than_1, 'Law enforcement gets more than #1' %>
        <%= f.text_field :law_enforcement_gets_more_than_1, class: 'form-control' %>
        <%= f.number_field :law_enforcement_gets_more_than_1_dollars, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :law_enforcement_gets_more_than_2, 'Law enforcement gets more than #2' %>
        <%= f.text_field :law_enforcement_gets_more_than_2, class: 'form-control' %>
        <%= f.number_field :law_enforcement_gets_more_than_2_dollars, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :law_enforcement_gets_more_than_3, 'Law enforcement gets more than #3' %>
        <%= f.text_field :law_enforcement_gets_more_than_3, class: 'form-control' %>
        <%= f.number_field :law_enforcement_gets_more_than_3_dollars, class: 'form-control' %>
      </div>

      <%= f.submit  %>
  <% end %>
</div>
