<div class="container">
  <%= form_for @district, url: admin_police_districts_url do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="form-group">
      <%= f.label :fy_2019_policing_budget, 'FY2019 Budget' %>
      <%= f.number_field :fy_2019_policing_budget %>
    </div>

    <div class="form-group">
      <%= f.label :decision_makers, 'Decision makers' %>
      <%= f.text_field :decision_makers, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :what_to_say, 'What to say' %>
      <%= f.text_area :what_to_say, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :how_to_comment, 'How to comment' %>
      <%= f.text_area :how_to_comment, class: 'form-control' %>
    </div>

    <%= f.submit  %>
  <% end %>
</div>
