<div class="district-jumbotron">
  <div class="container">
    <div class="row">
      <div class="district-jumbotron--info">
        <h1><%= district.name %></h1>
        <div>
          Next meeting:
          <% if next_meeting = district.next_meeting %>
            <div><%= next_meeting.formatted_event_datetime %></div>
            <div><%= next_meeting.phone_number %></div>
            <% if next_meeting.agenda_link.present? %>
              <div>Meeting Link: <a href="<%= next_meeting.agenda_link %>"><%= next_meeting.agenda_link %></a></div>
            <% end %>
          <% else %>
            <div>Check back soon</div>
          <% end %>
        </div>
      </div>

      <div class="district-jumbotron--budget">
        <div class="h3">$<%= district.readable_budget %></div>
        <div>FY2019 Policing Budget</div>
      </div>
    </div>
  </div>
</div>
