<%= link_to district_path do %>
  <div id="district-<%= district.slug %>" class="district-card">
    <div class="district-card-details-primary">
      <h2 class="h4"><%= district.name %></h2>
      <div>
        <% if next_meeting = district.next_meeting %>
          <div class="district-card-bullet">
            <div class="calendar-icon"></div>
            <div><%= next_meeting.formatted_event_datetime %></div>
          </div>
          <!--TODO: Re-add bullet with correct comment method icon/description-->
        <% else %>
          <% if most_recent_meeting = district.most_recent_meeting %>
            <div class="district-card-bullet">
              <div class="past-icon"></div>
              <div class="past-date"><%= most_recent_meeting.formatted_event_datetime %></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="district-card-details-secondary-container">
      <div class="district-card-details-secondary-text">
        <div class="h3">$<%= district.readable_budget %></div>
        <div class="pink-text">Fiscal year 2019 law enforcement budget</div>
      </div>
    </div>
  </div>
<% end %>
