<%= link_to district_path do %>
  <div class="district-card">
    <div class="district-card-details-primary">
      <h2 class="h4"><%= district.name %></h2>
      <div>
        <% if next_meeting = district.next_meeting %>
          <div class="district-card-bullet">
            <div class="row-icon calendar"></div>
            <div class="district-card-datetime-text"><%= next_meeting.formatted_event_datetime %></div>
          </div>
          <!--TODO: Re-add bullet with correct comment method icon/description-->
        <% else %>
          <% if most_recent_meeting = district.most_recent_meeting %>
            <div class="district-card-bullet past">
              <div class="row-icon check"></div>
              <div class="district-card-datetime-text"><%= most_recent_meeting.formatted_event_datetime %></div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="district-card-details-secondary-container">
      <div class="district-card-details-secondary-text">
        <div class="h3">$<%= district.readable_budget %></div>
        <div class="pink-text">
          <% if district.budget_label.present? %>
            <%= district.budget_label %>
          <% else %>
            2019 – 2020 law enforcement budget
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
