<div class="district-jumbotron">
      <div class="district-jumbotron-info">
        <div class="h3"><%= district.name %></div>
        <% if district.next_meeting.present? || district.most_recent_meeting.blank? %>
          <div class="meeting-title">
            Upcoming meeting
          </div>
        <% else %>
          <div class="meeting-title">
            Last meeting
          </div>
        <% end %>
        <% if next_meeting = district.next_meeting %>
          <div class="district-card-bullet">
            <div class="row-icon calendar"></div>
            <div class="meeting-time"><%= next_meeting.formatted_event_datetime %></div>
          </div>
          <%= link_to "Add to calendar", google_calendar_link, class: "add-to-calendar-button" %>
        <% else %>
          <% if last_meeting = district.most_recent_meeting %>
            <div class="district-card-bullet past">
              <div class="row-icon calendar"></div>
              <div class="meeting-time"><%= last_meeting.formatted_event_datetime %></div>
            </div>
          <% else %>
            <div>Check back soon</div>
          <% end %>
        <% end %>
      </div>
      <div class="district-jumbotron-budget">
        <div class="h3">$<%= district.readable_budget %></div>
        <div class="pink-text">
          <%= district.budget_title %>
        </div>
      </div>
</div>
