<div id="district-<%= district.slug %>" class="district-card">
  <div class="district-card-details-primary">
    <h2 class="h3"><%= link_to district.name, police_district_path(district) %></h2>
    <div>
      <% if next_meeting = district.next_meeting %>
          <div><%= next_meeting.event_datetime.strftime('%b %e, %Y @ %l:%M%P') %></div>
          <div><%= link_to 'Call in to comment', "tel:#{next_meeting.phone_number}" %></div>
      <% end %>
    </div>
  </div>
  <div class="district-card-details-secondary">
    <div class="h2">$<%= district.readable_budget %></div>
    <div>Fiscal year 2019 police and sheriff budget</div>
  </div>
</div>
