<%if @district.general_fund_spent_on_police_percentage %>
  <%= javascript_pack_tag 'percentage-chart' %>
<% end %>

<div class="white-background">
  <%= render partial: 'shared/district_header', locals: { district: @district } %>

  <div class="district-info">
    <% if @district.next_meeting.blank? && @district.most_recent_meeting.present? %>
      <div class="section">
        <h2 class="h1">This meeting has ended.</h2>
        <div>An archive of the meeting page's contents is shown below.</div>
        <div class="divider"></div>
      </div>
    <% end %>

    <% if @meeting&.about.present? %>
      <div class="section">
        <h2 class="h4">About this meeting</h2>
        <div class="about">
          <%= convert_newlines_to_paragraphs(@meeting&.about) %>
        </div>
      </div>
    <% end %>

    <% if meeting = @meeting %>
      <div class="section">
        <h2 class="h4">How to comment</h2>
        <% if @meeting.how_to_comment.present? %>
          <% @meeting.how_to_comment.split("\n").each_with_index do |step, i| %>
            <div class="how-to-comment">
              <div class="how-to-comment-number">
                <div><%= "#{i + 1}" %></div>
              </div>
              <div><%= "#{step}" %></div>
            </div>
          <% end %>
        <% else %>
          <div class="how-to-comment">
            We'll have information on this closer to the meeting date. Check back soon.
          </div>
        <% end %>
      </div>

      <% if meeting.agenda_link.present? %>
        <div class="section">
          <h2 class="h4">Agenda</h2>
          <div class="row-link">
            <div class="link-icon agenda"></div>
            <div><%= link_to "Review this meeting's agenda", meeting.agenda_link_prefixed, target: :_blank %></div>
          </div>
          <div class="agenda-details">
            Items related to law enforcement on this agenda: <span class="agenda-items"><%= "#{meeting.agenda_details}" %></span>
          </div>
        </div>
      <% end %>

      <% if meeting.video_link.present? %>
        <div class="section">
          <h2 class="h4">Watch</h2>
          <div class="row-link">
            <div class="link-icon watch"></div>
            <div><%= link_to "Watch this meeting online", meeting.video_link_prefixed, target: :_blank %></div>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if @district.general_fund_spent_on_police_percentage %>
      <div class="section" data-spec="general-fund">
        <h2 class="h4">General Fund</h2>
        <div>
          <div class="general-fund">
            <div class="general-fund-details">
              <div class="pie-chart">
                <canvas
                  id="myChart"
                  data-general_fund_spent_on_police_percentage=<%= @district.general_fund_spent_on_police_percentage %>
                  width="400"
                  height="400">
                </canvas>
              </div>
              <div class="general-fund-percentage">
                <span class="general-fund-percentage-number"><%= @district.general_fund_spent_on_police_percentage %>%</span>
                <span>
                  of <%= @district.name %>'s <strong>2019 – 2020 General Fund</strong>
                  was spent on law enforcement.
                </span>
              </div>
            </div>
            <div class="general-fund-definition">
              A general fund is a city’s primary account, funded by taxes (like property and sales tax) and used to pay for services such as the fire department, public works, parks, community services and more.
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if @district.more_funding_than.present? and @district.more_funding_than.length > 1 %>
      <div class="section">
        <h2 class="h4">In comparison</h2>
        <p>Here are some examples of 2019 – 2020 budget items that received less funding than law enforcement:</p>
        <div class="le-graph">
          <div class="le-graph-item le-graph-item-main">
            <div class="le-graph-bar">
              <div class="le-graph-bar-width">
                <div style="width: 100%"></div>
              </div>
              <span>$<%= @district.readable_budget %></span>
            </div>
            <div class="le-graph-title">
              Law enforcement
            </div>
          </div>
          <% @district.more_funding_than.map do |funding| %>
          <div class="le-graph-item">
            <div class="le-graph-bar">
              <div class="le-graph-bar-width">
                <div style="width: <%= number_with_precision((funding[:amount].to_f / @district.total_police_department_budget.to_f) * 100, :precision => 0) %>%"></div>
              </div>
              <span>$<%= number_to_human(funding[:amount],format:'%n%u',precision: 3, units:{thousand:'K',million:'M',billion:'B'}) %></span>
            </div>
            <div class="le-graph-title">
              <%= funding[:name] %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="section">
      <h2 class="h4">Decision Makers</h2>
      <div class="decision-makers-text">
        <%= convert_newlines_to_paragraphs(@district.decision_makers_text) %>
      </div>
      <div class="row columned-list">
        <% @district.elected_officials.each_with_index do |elected_official, i| %>
          <div class="columned-item col-sm">
            <div class="columned-item-bar"></div>
            <div>
              <div class="columned-list-name"><%= "#{elected_official.name}" %></div>
              <div><%= "#{elected_official.position}" %><% if elected_official.reelection_date.present? %><%= " · Reelection #{elected_official.reelection_date}" %><% end %></div>
            </div>
          </div>
          <% if i.odd? %>
            <div class="w-100"></div>
          <% end %>
        <% end %>
      </div>
      <%if @district.elected_officials_contact_link %>
        <div class="row-link"><%= link_to "Contact information for these decision makers", @district.elected_officials_contact_link_prefixed, target: :_blank %></div>
      <% end %>
    </div>
  </div>
</div>
