<%if @district.general_fund_spent_on_police_percentage %>
  <%= javascript_pack_tag 'percentage-chart' %>
<% end %>

<div class="white-background">
  <%= render partial: 'shared/district_header', locals: { district: @district } %>

  <div class="district-info">
    <div class="section">
      <h2 class="h4">How to comment</h2>
      <% (@district.next_meeting&.how_to_comment || '').split("\n").each_with_index do |step, i| %>
        <div class="how-to-comment">
          <div class="how-to-comment-number">
            <div><%= "#{i + 1}" %></div>
          </div>
          <div><%= "#{step}" %></div>
        </div>
      <% end %>
    </div>
    <% if @district.next_meeting&.agenda_link.present? %>
      <div class="section">
        <h2 class="h4">Agenda</h2>
        <div class="agenda-link">
          <div class="link-icon agenda"></div>
          <div><%= link_to "Review this meeting's agenda", @district.next_meeting.agenda_link_prefixed, target: :_blank %></div>
        </div>
        <div class="agenda-details"><%= "Items related to law enforcement on this agenda: #{@district.next_meeting.agenda_details}" %></div>
      </div>
    <% end %>
    <% if @district.next_meeting&.video_link.present? %>
      <div class="section">
        <h2 class="h4">Watch</h2>
        <div class="">
          <div class=""></div>
          <div><%= link_to "Watch this meeting online", @district.next_meeting.video_link_prefixed, target: :_blank %></div>
        </div>
      </div>
    <% end %>
    <% if @district.general_fund_spent_on_police_percentage %>
      <div class="section" data-spec="general-fund">
        <h2 class="h4">General Fund</h2>
        <div>
          <div class="general-fund">
            <div class="pie-chart">
            <canvas
              id="myChart"
              data-general_fund_spent_on_police_percentage=<%= @district.general_fund_spent_on_police_percentage %>
              width="400"
              height="400">
            </canvas>
            </div>
            <div class="general-fund-details">
              <span class="general-fund-percentage"><%= @district.general_fund_spent_on_police_percentage %>%</span>
              <span>
                of <%= @district.name %>'s <strong>2019 General Fund</strong>
                was spent on law enforcement.
              </span>
              <div class="general-fund-definition">
            A general fund is money that the city can decide how to spend, and comes from a city's revenue, like taxes.
          </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if @district.more_funding_than.present? %>
      <div class="section">
        <h2 class="h4">Law enforcement gets more funding than:</h2>
        <% @district.more_funding_than.map do |funding| %>
              <p><%= funding[:name] %></p>
              <p><%= funding[:amount] %></p>
        <% end %>
      </div>
    <% end %>
    <div class="section">
      <h2 class="h4">Decision Makers</h2>
      <p><%= @district.decision_makers_text %></p>
      <% @district.elected_officials.each do |elected_official| %>
        <div><%= "#{elected_official.name}" %></div>
        <div><%= "#{elected_official.position} · Reelection #{elected_official.reelection_date}" %></div>
      <% end %>
    </div>
  </div>
</div>
