<!DOCTYPE html>
<html>
  <head>
    <title>Be Heard. Defund the Police</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
      <nav class="navbar navbar-expand-lg bg-dark justify-content-end">
        <% if user_signed_in? %>
          <%= link_to('Add info', admin_root_path, class: 'nav-link') %>
          <%= link_to('Log out', destroy_user_session_path, method: :delete, class: 'nav-link') %>
        <% end %>
        <%= link_to('About', '#', class: 'nav-link') %>
        <%= link_to('Contact', '#', class: 'nav-link') %>
      </nav>
    <% if notice %>
      <div class="alert alert-primary" role="alert">
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
    <% end %>

    <main role="main">
      <%= yield %>
    </main>
  </body>
</html>
