<!DOCTYPE html>
<html>
  <head>
    <title>Reinvest in us.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= render 'layouts/google_analytics' %>
    <%= javascript_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="<%= body_classes.join(' ') %>">
      <nav class="navbar navbar-expand-lg justify-content-between">
        <%= link_to '', root_path, class: 'navbar-brand' %>
        <div class="navbar-nav">
          <% if user_signed_in? %>
            <%= link_to('Add info', admin_root_path, class: 'nav-link') %>
            <%= link_to('Log out', destroy_user_session_path, method: :delete, class: 'nav-link') %>
          <% end %>
          <%= link_to('About', about_path, class: 'nav-link') %>
        </div>
      </nav>
    <% if notice %>
      <div class="alert alert-primary" role="alert">
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
    <% end %>

    <main role="main">
      <%= yield %>
    </main>
  </body>
</html>
